.form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
  background-color: rgb(66, 66, 66);
  width: 20rem;
  height: 20rem;
  padding: 2rem;
  outline: none;
  .botones {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    justify-content: space-between;
  }
  .entrada {
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: none;
    outline: none !important;
    padding-left: 10px;
  }
  .boton {
    background: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    width: 45%;
    border: 2px solid white;
    outline: none !important;
    color: white;
}
  label {
    font-size: 1rem;
    color: white;
  }
  .name {
    width: 80%;
  }
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
